<footer class="pv3 bt bw1 tc fs bg-near-white b--light-blue mid-gray">
    <p class="tracked">&copy; 2020 @mitchejj &#183;
    <a class="normal tracked-mega link dim near-black" href="https://creativecommons.org/licenses/by/4.0/" title="CC BY 4.0">CC BY 4.0</a>
    </p>
    <p> "Your identity is your most valuable possession." - Elastigirl, The Incredibles</p>
</footer>

