<!doctype html>
<html lang="en-US">
  {% include 'core/html_header.njk' %}
  
{%- if layout == 'page.njk' -%}
  {%- set name -%}{{ layout | layout | string }}{%- endset -%}
  {% include name+ '/body.njk' ignore missing %}

{%- elif layout == 'landing.njk' -%}
  {%- set name -%}{{ layout | layout | string }}{%- endset -%}
  {% include name+ '/body.njk' %}

{%- elif layout == 'index.njk' -%}
  Remember index.njk does nothing! An index is built via something like
  journal.md
{%- endif -%}
</html>

