<!doctype html>
<html lang="en-US"> 
    {{> partials/html/head/base }}
    <body class="bg-gray-800">
        <section class="text-white vh-75-min">
            {{> partials/components/header }}
            {{> partials/components/services }}
            {{{ content }}}
        </section>
        {{> partials/html/index_footer }}

    </body>
</html>

