<!doctype html>
<html lang="en-US"> 
    {{> partials/html/head/base }}
    <body class="{{ bg-color }}">
        <section class="vh-85-min">
            <div class="vh-25-min"></div>
            {{> partials/components/index-head }}
            {{{ content }}}
        </section>
        {{> partials/html/base_footer }}

    </body>
</html>

