<!doctype html>
<html lang="en-US"> 
    {{> partials/html/head/base }}
    <body class="bg-mid-gray ml3 mr3 ml0-ns mr0-ns">
        <section class="white tc min-vh-100 f5">
                {{> partials/components/header }}
                {{> partials/components/services }}
                {{{ content }}}
        </section>
        {{> partials/html/index_footer }}
    
    </body>
</html>




