<!doctype html>
<html lang="en-US"> 
    {{> partials/html/head/base }}
    <body class="{{ bg-color }}">
        <section class="vh-15-min">
                {{> partials/components/header }}
                {{> partials/components/services }}
        </section>
                {{{ content }}}
        {{> partials/html/base_footer }}
    
    </body>
</html>




