<!doctype html>
<html lang="en-US"> 
    {{> partials/html/head/base }}
    <body class="">
        <div class="vh-90-min">
            {{#unless isIndex }}
            <section class="">
                {{> partials/components/header }}
            </section>
            {{ else }}
            <section class="">
                {{> partials/components/index-head }}
            {{/unless}}
                {{{ content }}}
        </div>
        {{> partials/html/base_footer }}

    </body>
</html>
