<!doctype html>
<html lang="en-US"> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nullog: {{ title }}</title>
<!--    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
--!>
        <link rel="stylesheet" href="/assets/main.css"/>
        <style>
        </style>
    </head>
    <body class="min-vh-100 bg-mid-gray">
        <aside class="white flex flex-column">
            <header class="tc sans-serif">
                <h1 class="light-blue f-headline fw6 lh-solid">nu<span
                    class="underline">ll</span>og</h1>
                <h2 class="trackedi f5 fw5">
                    <a class="link light-blue" 
                        href="https://twitter.com/mitchejj" title="twitter">@mitchejj</a>
                </h2>
            </header>
            <div class="tc vh-10-min f5">
                <a class="link dim white dib mr3" href="https://github.com/mitchejj" title="GitHub">GitHub</a>
                <a class="link dim white dib mr3" href="https://strava.com/athletes/2911431" title="Strava">Strava</a>
                <a class="link dim white dib mr3" href="https://reddit.com/u/_mitchejj_" title="Reddit">Reddit</a>
        </aside>
        <div class="black bg-near-white">
            <main class="pa3 pao-l vh-75-min flex flex-column items-center f4-ns ">
                {{{ content }}}
            </main>
            <footer class="pv3 bt bw1 tc fs b--light-blue mid-gray">
                <p class="tracked">&copy; 2020 @mitchejj &#183;
                    <a class="normal tracked-mega link dim near-black" href="https://creativecommons.org/licenses/by/4.0/" title="CC BY 4.0">CC BY 4.0</a>
                </p>
                <p> "Your identity is your most valuable possession." - Elastigirl, The Incredibles</p>
            </footer>
        </div>
    </body>
</html>




