<!doctype html>
<html lang="en-US"> 
    {{> partials/html/head/base }}
    <body class="{{ bg-color }}">
        <div class="vh-85-min">        <section class="vh-15-min">
                {{> partials/components/header }}
        </section>
                {{{ content }}}
        </div>
        {{> partials/html/base_footer }}
    
    </body>
</html>




