
<header class="text-center">
    <h2 class="text-2xl">{{ metadata.subtitle }}</h2>
    <h1 class="text-blue-500 text-6xl">
        {{{ metadata._title_ }}}
    </h1>
    <div class="text-base">
                <a class=" text-blue-500" 
           href="https://twitter.com/mitchejj" title="twitter">@mitchejj</a>
    </div>
</header>
