<header class="text-center">
    <h2 class="text-2xl">{{ metadata.subtitle }}</h2>
    <h1 class="text-blue-500 text-6xl">
        <a href="/" title="{{ metadata.title }}">{{{ metadata._title_ }}}</a>
    </h1>
</header>
