
<a class="link dim white dib mr3" href="https://github.com/mitchejj"
                                  title="GitHub">GitHub</a>
<a class="link dim white dib mr3" href="https://strava.com/athletes/2911431" title="Strava">Strava</a>
<a class="link dim white dib mr3" href="https://reddit.com/u/_mitchejj_" title="Reddit">Reddit</a>
