<div class="text-center w-1/2 ml-auto mr-auto text-blue-400">
    <a class="mx-5 hover:text-white" href="https://github.com/mitchejj"
                title="GitHub">GitHub</a>
    <a class="mx-5 hover:text-white" href="https://strava.com/athletes/2911431" title="Strava">Strava</a>
    <a class="mx-5 hover:underline" href="https://reddit.com/u/_mitchejj_" title="Reddit">Reddit</a>
</div>
