<div class="block text-center">
    <a class="inline-block mx-10" href="https://github.com/mitchejj"
                title="GitHub">GitHub</a>
    <a class="inline-block mx-10" href="https://strava.com/athletes/2911431" title="Strava">Strava</a>
    <a class="inline-block mx-10" href="https://reddit.com/u/_mitchejj_" title="Reddit">Reddit</a>
</div>
