<div class="{{ css.sane_space }} text-center text font-medium p-3 mb-3
     bg-red-300">This post has been archived, restoration is in process.</div>
{% if meta.image.url %}
<figure class="{{ css.img }} text-center text-xs text-gray-600">
  <img class="inline-block" src="{{ meta.image.url }}" alt="{{ meta.image.caption }}">
    <figcaption>{{ meta.image.caption }}
    </figcaption>
</figure>
{% endif %}
