<footer class="vh-10-min">
    <div class="{{ css.sane_space }} border-t border-blue-300">
        <div class="flex flex-wrap">
            <p class="w-1/2 my-1">
            <a class="hover:text-blue-400" 
               href="https://twitter.com/mitchejj"
               title="twitter">@mitchejj</a>
            </p>
            <p class="w-1/2 my-1 text-right">
            <a class="tracking-widest font-semibold hover:text-blue-400"
               href="https://creativecommons.org/licenses/by/4.0/"
               title="CC BY 4.0">CC BY 4.0</a>
            </p>
            <p class="w-full text-center text-xs text-gray-500"> "Your identity is your most valuable possession."<br>- Elastigirl, The Incredibles</p>
        </div>
    </div>
</footer>

