<head>
  {% include 'core/html/meta.njk' %}
  {% include 'core/html/link.njk' %}
  {% include 'core/html/icons.njk' %}
  {% include 'core/html/twitter.njk' %}
  {% include 'core/html/open_graph.njk' %}
  <title>{{ metadata.title}}: {{ title }}</title>
</head>
