---
layout: skel.hbs
---
<main class="black bg-near-white vh-75-min  f4-ns ">
    <div style="" class="vh-75-min flex flex-column items-center">
        <h3 class="w-50 w-two-thirds-ns block tracked  bb bw1 b--light-blue pb1">{{{ title }}}</h3>
        <div class="w-50 w-two-thirds-ns measure-wide">
            {{{ content }}}
        </div>
    </div>
</main>

