---
layout: index.hbs
bg-color: bg-white
---
<main class="font-sans"
    <article class="">
        <div class="w-11/12 md:w-1/2 lg:w-4/12 mr-auto ml-auto mt-3 md:mt-6
            lg:mt-12 tracking-wide text-base lg:text-xl">
            {{{ content }}}
        </div>
    </article>
</main>
