<body class="{{ color.background}} {{ color.text }}">
  <section class="vh-85-min">
    <div class="vh-25-min"></div>
    {{ content | safe }}
    </div>
  </section>
  {% include 'core/core_footer.njk' %}
</body>
