.vh-10-min {  min-height:  10vh; }
.vh-15-min {  min-height:  15vh; }
.vh-25-min {  min-height:  25vh; }
.vh-33-min {  min-height:  33vh; }
.vh-50-min {  min-height:  50vh; }
.vh-75-min {  min-height:  75vh; }
.vh-85-min {  min-height:  85vh; }
.vh-15     {  height:      15vh; }
.vh-90-min {  min-height:  90vh; }

@tailwind base;

@tailwind components;
/*
 
https://github.com/tailwindcss/typography/blob/master/src/index.js
 
 */
.md-text {
}
.markdown {
    h1 {
        @apply text-5xl my-8;
    }
    h2 {
        @apply text-4xl my-6;
    }
    h3 {
        @apply text-3xl my-5;
    }
    h4 {
        @apply text-2xl my-4;
    }
    h5 {
        @apply text-2xl my-4;
    }
    h6 {
        @apply text-xl my-3;
    }
    p {
        @apply leading-relaxed;
        a {
            @apply bg-gray-200 text-blue-700 px-1 rounded-t; 
        }
        a:hover {
            @apply border-b border-blue-400;
        }
        code {
            @apply font-code px-1;
            font-size: .875em;
        }
    }
    p + p {
        @apply my-3;
    }
    ul + p {
        @apply my-3;
    }
    p:last-child {
        @apply pb-3;
    }
    ol {
        @apply list-outside list-circle;
    }
    * + ol {
        @apply mx-3 my-2;
    }
    ul {
        @apply list-outside;
    }
    * + ul {
        @apply mx-3 my-2;
    }
    li ul {
        @apply mx-0 my-0;
    }
    li {
        @apply mx-3;
        a { 
            @apply border-b border-gray-500 text-blue-600;
        }
    }
    pre {
        @apply font-code bg-gray-400 block max-w-full py-2 px-3 break-words rounded;
        code {
            @apply bg-transparent text-gray-900;
            font-size: .875em;
        }
    }
}


@tailwind utilities;
